<table>
  <thead>
    <tr>
      <th>N</th>
      <th>Title</th>
      <th>Description</th>
      <th>Operation</th>
    </tr>
  </thead>
  <TBody>
    {{#each tasks}}
      <tr>
        <td>{{@index}}</td>
        <td>{{title}}</td>
        <td>{{description}}</td>
        <td>
          <button>Done</button>
          <a href="/delete/{{_id}}">Delete</a>
          <a href="/edit/{{_id}}">Edit</a>
        </td>
      </tr>
    {{/each}}
  </TBody>
</table>